# SPDX-FileCopyrightText: 2023 Fabrício Moura Jácome
#
# SPDX-License-Identifier: MIT-0

---
Checks:          'clang-diagnostic-*,clang-analyzer-*,bugprone-*,cert-*,hicpp-*,performance-*,readability-*,modernize-*,-modernize-use-trailing-return-type, -hicpp-special-member-functions, -modernize-use-nodiscard, -readability-magic-numbers'
WarningsAsErrors: '*'
HeaderFilterRegex: './src/*'
AnalyzeTemporaryDtors: false
...

