---
Checks:          'clang-diagnostic-*,clang-analyzer-*bugprone-*,cert-*,cppcoreguidelines-*,google-*,hicpp-*,performance-*,readability-*'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
...

