# SPDX-FileCopyrightText: 2023 Fabrício Moura Jácome
#
# SPDX-License-Identifier: MIT-0

---
Checks:          'clang-diagnostic-*,clang-analyzer-*,bugprone-*,cert-*,hicpp-*,performance-*,readability-*,modernize-*,-modernize-use-trailing-return-type'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
...

